{% extends 'base.html.twig' %}

{% block title %}Card{% endblock %}

{% block body %}
    <h1>Card</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ card.id }}</td>
            </tr>
            <tr>
                <th>Image</th>
                <td>{{ card.image }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ card.title }}</td>
            </tr>
            <tr>
                <th>Body</th>
                <td>{{ card.body }}</td>
            </tr>
            <tr>
                <th>Edition</th>
                <td>{{ card.edition }}</td>
            </tr>
            <tr>
                <th>Rarity</th>
                <td>{{ card.rarity }}</td>
            </tr>
            <tr>
                <th>Artist</th>
                <td>{{ card.artist }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('card_index') }}">back to list</a>

    <a href="{{ path('card_edit', {'id': card.id}) }}">edit</a>

    {{ include('card/_delete_form.html.twig') }}
{% endblock %}
